<div>
<div class="cent" >
<div class="container-xxl"  >
  <cdk-accordion class="example-accordion">
    <cdk-accordion-item
      *ngFor="let item of items; let index = index;"
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index">
      <div class="example-accordion-item-{{ accordionItem.expanded ? 'expanded' : 'header' }}" (click)="accordionItem.toggle()">
        {{ item.nome }}
        <span class="example-accordion-item-description">
          Click to {{ accordionItem.expanded ? 'close' : 'open' }}
        </span>
      </div>
      <div class="texta form-control example-accordion-item-body bgimg" readonly 
    style="background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 23%), url({{item.image}}) no-repeat"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index">
        <span class="sp" [outerHTML]="item.descrizione"></span>
    </div>
    </cdk-accordion-item>
  </cdk-accordion>
</div>
</div>
</div>


