<div class="cent">
<div class="container">
<form #productsForm="ngForm" class="row g-3" (ngSubmit)="saveBooking(productsForm.value)">
    <div class="col-md-6">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" required name="nome" ngModel required #name="ngModel">
      <small *ngIf="name.invalid && name.touched">Name is a required field</small>
    </div>
    <div class="col-md-6">
      <label for="surname" class="form-label">Surname</label>
      <input type="text" class="form-control" id="surname" required name="cognome" ngModel required #surname="ngModel">
      <small *ngIf="surname.invalid && surname.touched">Surname is a required field</small>
    </div>
    <div class="col-6">
      <label for="dataDiNascita" class="form-label">Date of Birth</label>
      <input type="date" class="form-control" id="dataDiNascita" required name="dataDiNascita" ngModel required #dataDiNascita="ngModel">
      <small *ngIf="dataDiNascita.invalid && dataDiNascita.touched">Date Of Birth is a required field</small>
    </div>
    <div class="col-6">
      <label for="luogoDiNascita" class="form-label">Where you were born</label>
      <input type="text" class="form-control" id="luogoDiNascita" required name="luogoDiNascita" ngModel required #luogoDiNascita="ngModel">
      <small *ngIf="luogoDiNascita.invalid && luogoDiNascita.touched">This is a required field</small>
    </div>
    <div class="col-6">
      <label for="cartaIdentita" class="form-label">ID</label>
      <input type="text" class="form-control" id="cartaIdentita" required name="cartaIdentita" ngModel required #cartaIdentita="ngModel">
      <small *ngIf="cartaIdentita.invalid && cartaIdentita.touched">This is a required field</small>
    </div>
    <div class="col-6">
      <label for="codiceFiscale" class="form-label">Health ID</label>
      <input type="text" class="form-control" id="codiceFiscale" required name="codiceFiscale" ngModel required #codiceFiscale="ngModel">
      <small *ngIf="codiceFiscale.invalid && codiceFiscale.touched">This is a required field</small>
    </div>
    <div class="col-4">
      <label for="dataAssunzione" class="form-label">Preferred date for the test</label>
      <input type="date" class="form-control" id="dataAssunzione" required name="dataAssunzione" ngModel required #dataAssunzione="ngModel">
      <small *ngIf="dataAssunzione.invalid && dataAssunzione.touched">This is a required field</small>
    </div>
  
    <div class="col-md-4">
      <label for="program" class="form-label">Program</label>
          <select class="form-select" placeholder="truolo" id="truolo" name="truolo"[(ngModel)]="selectedProgram" required #truolo="ngModel">
          <option disabled [ngValue]=null>Select</option>
            <option *ngFor="let prog of programs" [ngValue]="prog">{{ prog.nome }}</option>
        </select>
        <small *ngIf="truolo.invalid && truolo.touched">This is a required field</small>
      
    </div>
    <div class="col-md-4">
      <label for="tstato" class="control- label form-label">Share with the Police</label>
      <select class="form-select" placeholder="tstato" id="tstato" name="tstato"[(ngModel)]="selectedTstato" required #tstato="ngModel">
      <option disabled [ngValue]=null>Select</option>
        <option *ngFor="let stat of stats" [ngValue]="stat" >{{ stat.nome }}</option>
    </select>
    <small *ngIf="tstato.invalid && tstato.touched">This is a required field</small>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck" required>
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" [disabled]="!productsForm.valid" >Sign in</button>
    </div>
  </form>
</div>
</div>
