<div>
    <div class=" cent  bg-light">
        <div class="row g-2 container-fluid">
            <div class="mainpage col-md-1">


                <div class="col-md">
                    <label for="program">Program</label>
                    <select class="form-select" placeholder="truolo" id="truolo" name="truolo"
                        [(ngModel)]="selectedProgram" (ngModelChange)="selectionChanged($event)">
                        <option [ngValue]=0>Select</option>
                        <option *ngFor="let prog of programs" [value]="prog.idRuolo">{{ prog.nome }}</option>
                    </select>
                </div>


                <!-- stop-->

            </div>
            <div *ngIf="shownprogram" class="card col-md-11">
                <form form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="container-xxl">
                    <div class="im">
                        <img src="{{shownprogram.image}}" class="img-thumbnail mx-auto d-block" alt="">
                    </div>
                    <div *ngIf="b">
                        <p class="al text-center">This program is currently deactivated</p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                        <label for="file">File</label>
                        <input accept="image/png, image/gif, image/jpeg" formControlName="file" type="file" class="form-control" (change)="onFileChange($event)">
                      </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Name</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="name" required
                            [defaultValue]="shownprogram.nome" placeholder="">
                            <small class="form-text text-danger" *ngIf="f?.['name']?.errors?.['required']">
                                Name is required</small>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" required formControlName="descrizione"
                            [contentEditable]="true"></textarea>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-outline-warning">Update</button>
                    </div>

                    <div  class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                        <button *ngIf="!b" type="button" (click)="activationProg(shownprogram.idRuolo)" class="btn btn-outline-danger">Delete {{shownprogram.nome}}</button>
                        <button *ngIf="b" type="button" (click)="activationProg(shownprogram.idRuolo)" class="btn btn-outline-success">Activate {{shownprogram.nome}}</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>